.accordion {
    position: absolute;
    top: 0;
    width: 10%;
    left: 1%;
    // background: #f8f9fa;
    
    & .accordion-body {
        box-shadow: 0px 0px 8px -1px;
        min-width: max-content;
        background: #f8f9fa;
        
        & ul {
            padding: 0;
            list-style: none;
        }

    }
    
    & .accordion-button:focus {
        box-shadow: none;
    }

    & .accordion-collapse {
        width: fit-content;
    }
    
}

.price-filter {
    max-width: 205px;
}

.form-text {
    align-items: center;
}