.img-presentation{
    width: 50vh;
    /* min-width: 300px; */
    height: 75vh;
    border: 1px solid whitesmoke;
}

.btn-buy {
    margin-left: 15px;
    min-width: 90px;
}

#qtyTextBox {
    width: 125px;
    margin-left: 10px;
}